@charset "utf-8";
/* CSS Document */
#wrap{width:960px;margin: 0 auto;}
#header{background-color: #B2EBF4; height: 263px;margin:0;}
#main{background-color: #B2EBF4; height: 500px;margin:0px 0 10px 0;}
#footer{background-color:#d5dde2; color:#888; text-align:center; font-size: 11px; padding:10px;}
.btn{
  background-color: hsl(67, 10%, 50%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aeb09f", endColorstr="#898c72");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#aeb09f), to(#898c72));
  background-image: -moz-linear-gradient(top, #aeb09f, #898c72);
  background-image: -ms-linear-gradient(top, #aeb09f, #898c72);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeb09f), color-stop(100%, #898c72));
  background-image: -webkit-linear-gradient(top, #aeb09f, #898c72);
  background-image: -o-linear-gradient(top, #aeb09f, #898c72);
  background-image: linear-gradient(#aeb09f, #898c72);
  border-color: #898c72 #898c72 hsl(67, 10%, 46%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}
