@charset "utf-8";
/* CSS Document */

/** Layout **/
#wrap{width:960px;margin: 0 auto;}

/** TOP CSS **/
#top{height: 80px;}


#top_left{
	width: 500px; float:left;display:inline; color:#FFF;
	 height:80px;
}
#top_right{width:400px;float:right;text-align:right;display:inline; padding:40px 30px 0 0;}

/*슬라이드쇼*/
#slideshow {
	margin:0 auto;
	width:960px;
	height:263px;
	background:transparent url(images/bg_slideshow.jpg) repeat-x 0 0 ;
	overflow:auto; 
	position:relative;
}
#slideshow #slidesContainer {
  overflow:auto; /* allow scrollbar */
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:960px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:263px;
}
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(images/control_left.jpg) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(images/control_right.jpg) no-repeat 0 0;
}

* {
  margin:0;
  padding:0;
 
}

.slide p img {
  float:right;
  margin:0px;
  width:960px;
  height:263px;
}

#slideshow {position: absolute;  z-index : 1}
#search {position: absolute; left: 600px; top: 240px ; z-index : 2 ;}


#header{background-color: #898c72; height: 263px;margin:0;}
#main{background-color: #fff; height: 500px;margin:0px 0 10px 0;}
#footer{background-color:#111; color:#888; text-align:center; font-size: 11px; padding:20px;}

